<configuration>
	<!-- Define um appender para o Logstash -->
	<appender name="LOGSTASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:50000</destination> <!-- Ajuste para o endereço do Logstash -->

		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />

		<!-- Configuração opcional para adicionar campos personalizados -->
		<customFields>{"app_name":"poc-produto-service","env":"production"}</customFields>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		

		<!-- Configuração de reconexão -->
		<reconnectionDelay>5000</reconnectionDelay>
	</appender>

	<!-- Configuração de um appender padrão para console -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %method:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Nível de log -->
	<root level="INFO">
		<appender-ref ref="LOGSTASH" />
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>